body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 900px;
}

h1{
    font-size: 46px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    line-height: 46px;
}

h2{
    font-size: 25px;
    line-height: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    color: #666;
}

p{
    line-height: 27px;
    color: #333;
}

body, h3, p {
    font-size: 18px;
}